.titulo1{

    position: relative;
    left: 455;
    bottom: 270;

}


.tuti1{
    position: relative;
    left: 400;
    bottom: 290;

}

.titu2{
    position: relative;
    bottom: 260;
    right: 30;
}
